@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
